*{
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box;
}

body{
  font-family: 'Rubik', sans-serif;
  overflow:hidden;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
}

/*Inicio da barra de menu responsiva*/

@media (min-width: 991px) {
  .menu-norm {
    max-width: 100%;
    width: 100%;
    display: block;
  }

  .list-menus {
    display: flex!important;
    justify-content: space-between;
    width: 100%;
    background: #fff;
    box-shadow: 2px 9px 49px -17px rgba(0, 0, 0, 0.3);
  }

  .item-menu {
    flex: auto;
  }
  
  .item-menu .link-menu {
    padding: 15px;
    color: #555;
    display: block;
    transition: .4s;
    cursor: pointer;
    text-align: center;
  }

  .item-menu .link-menu:hover {
    background: #545bc4;
    color: #fff;
  }
  
  .toggle {
    display: none!important;
  }

  .item-logo{
    font-size: 15pt;
    padding: 13px;
    color: black;
    margin-right: 25vw;
    margin-left: 2%;
    width: 100%;
  }

}

.toggle{
  position: relative;
  width: 50px;
  height: 50px;
  background: transparent;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0, 08);
  border-radius: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  margin-left: 50px;
}

.toggle div{
  position: absolute;
  width: 20px;
  height: 2px;
  background: #1863ff;
  border-radius: 4px;
  transition: 0.5s;
}

.toggle div:nth-child(1){
  transform: translateY(-15px);
  width: 25px;
  left: 5px;
}
.toggle.active div:nth-child(1){
  width: 40px;
  transform: translateY(0px) rotate(45deg);
  transition-delay: 0.125s;
}

.toggle div:nth-child(2){
  transform: translateY(15px);
  width: 15px;
  left: 5px;
}

.toggle.active div:nth-child(2){
  width: 40px;
  transform: translateY(0px) rotate(315deg);
  transition-delay: 0.25s;
}

.toggle.active div:nth-child(3){
  transform: translateX(60px);
}

.input-menu-all {
  display: none!important;
}
.list-menus {
   display: none;
   width: 100%;
   background: rgb(150, 235, 135);
   box-shadow: 2px 9px 49px -17px rgba(0, 0, 0, 0.3);
}
.item-menu {
    flex: auto;
}
.item-menu .link-menu {
  padding: 15px;
  color: black;
  display: block;
  transition: .4s;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.input-menu-all:checked ~ .list-menus{
  display: block;
      
}
.input-menu-all:checked ~ .list-menus .link-menu  {
  text-align: left;
}

.input-menu-all:checked ~ .list-menus .item-logo  {
    display: none;
}

.item-menu, .item-menus{
  justify-content: space-between;
  padding: 0;
  color: rgb(0, 0, 0);
  display: block;
  transition: .4s;
  cursor: pointer;
  text-align: center;
  height: 7vh;
  width: 80%;
  background: rgb(150, 235, 135);
}

.link-menu {
  color: black;
}

.item-menu {
  display: flex;
  align-items: center;
}

/*Fim da barra de menu responsiva*/

/*Inicio do Tema Escuro */

.label{
  background-color: black;
  display: flex;
  height: 30px;
  border-radius: 50px;
  width: 66px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 15px;
  transition: all .5s ease-in-out;
  cursor: pointer;
  border:  2px solid black;
}

.label .bxs-moon{
  color: rgb(250, 250, 250);
}
.label .bxs-sun{
  color: rgb(243, 188, 36);
}

.blob{
  position: absolute;
  left: 50%;
  width: 50%;
  height: 100%;
  background: rgb(209, 153, 153);
  border-radius: 50px;
  transition: all .5s ease all;
}

.checkbox{
  opacity: 0;
  position: absolute;
}

.info{
  display: block;
  margin-top: 50px;
}
.info.night{
  color: white;
}

.checkbox:checked+ .label .blob{
  left: 0;
}
.checkbox:checked + .label{
  background-color: rgb(82, 81, 83);
}

.corpo{
  background: url('https://images6.alphacoders.com/110/thumb-1920-1104995.jpg');
  background-size: cover;
}
.corpo.night{
  color: #ffffff;
}

/*Inicio da barra de rolagem */
main{
  width: 80%;
  background: rgb(236, 201, 201);
  padding-top: 30px;
  height: 92.7vh;
  overflow: auto;
}

.main::-webkit-scrollbar { 
  display: none;  
}

/*Fim da barra de Rolagem Oculta*/

.main.night{
  background: rgb(25, 28, 75);
}

/* Fim do Tema Escuro */

.titulo{
  margin-left: 5%;
}

.linha{
  height: 2px;
  width: 100%;
  background-color: black;
}

.linha.night{
  background: white;
}

.introducao p{
  font-size: 13pt;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 10%;
  margin-top: 1%;
}

.conteudo-web img{
  width: 50%;
  height: 40vh;
  margin-top: 5%;
  position:absolute;
  left: 25% ;
  overflow-x: scroll;
}

